body {
    background-image: url('FLIGHT.JPG'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

.btn-secondary{
    color:#000000;
    background-color:#c8c5c5;
}
.btn-secondary:hover{
    color:#000000;
    background-color:#8d8e8e;
    border-color:#8d8e8e}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

h1 {
    font-size: 14px;
    margin-right: 20px;
}

table{
    border:solid;
    padding: 10px;
    text-align: center;
}

th{
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

select {
    margin-right: 20px;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}